<app-article-preview *ngFor="let article of results" [article]="article">
</app-article-preview>

<div class="article-preview" *ngIf="loading === LoadingState.LOADING">
  Loading articles...
</div>

<div
  class="article-preview"
  *ngIf="loading === LoadingState.LOADED && !results.length"
>
  No articles are here... yet.
  <!-- image 1Mo resolution 2400 x 3200 redimensionner en 75 x 100 avec html -->
  <img src="assets/image_lourd.jpg" alt="image 1Mo resolution 2400 x 3200" height="100">
</div>
